<div class="container">
    <div class="row">
        <form class="form" [formGroup]="userForm" (submit)="saveUser()" novalidate>
            <div class="form-group">
                <label for="email" >E-mail:</label>
                <input type="text" formControlName="login" name="login" id="email" required [(ngModel)]="user.login"
                        class="form-control" [readonly]="modoDetail">

                <span *ngIf="!modoDetail && userForm.controls.login.invalid" >
                    <span *ngIf="userForm.controls.login.errors.incorrectMailFormat" class="form-control alert-danger">
                        E-mail Inválido
                    </span>
                    <span *ngIf="userForm.controls.login.errors.required" class="form-control alert-danger">
                        Este campo é obrigatório
                    </span>
                </span>
            </div>
            <div *ngIf="!modoEdicao && !modoDetail" class="form-group">
                <label for="password">Senha:</label>
                <input type="text" id="password" [(ngModel)]="user.password"
                       formControlName="password" class="form-control">
            </div>
            <div *ngIf="!modoEdicao && !modoDetail" class="form-group">
                <label for="passwordConfirm">Confirmação de Senha:</label>
                <input type="text" id="passwordConfirm" [(ngModel)]="passwordConfirm"
                       formControlName="passwordConfirm" class="form-control" >
            </div>
            <div class="form-group">
                <label for="firstname">Nome:</label>
                <input type="text" id="firstname" [(ngModel)]="user.firstName"
                       formControlName="firstName" class="form-control" [readonly]="modoDetail">
            </div>
            <div class="form-group">
                <label for="lastname">Sobrenome:</label>
                <input type="text" id="lastname" [(ngModel)]="user.lastName"
                       formControlName="lastName" class="form-control" [readonly]="modoDetail">
            </div>
            <div class="form-group">
                <label for="birthDate">Data de Nascimento:</label>
                <input type="text" id="birthDate" [(ngModel)]="user.birthDate"
                       formControlName="birthDate" class="form-control" [readonly]="modoDetail">
            </div>

            <div class="form-group">
                <label for="profile">Profile</label>
                <select id="profile" id="profile" [(ngModel)]="user.profile"
                        formControlName="profile" class="form-control">
                    <option *ngFor="let profile of profiles" [value]="profile">{{profile}}</option>
                </select>
            </div>
            <div>
                <confirm-button
                        nome="Salvar"
                        tipo="submit"
                        estilo="btn-primary"
                        [desabilitado]="!userForm.valid">
                </confirm-button>
                <button type="button" class="btn btn-default" (click)="cancel()"><span class="fa fa-save"></span>Cancel</button>
                <!-- <p>{{userForm.value | json }}</p> -->
            </div>
        </form>
    </div>
</div>